<!-- app/views/categories/show.html.erb -->

<div class="container">
  <h1 class="my-4">Products in <%= @category.name %></h1>

  <div class="card shadow">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= number_to_currency(product.price) %></td>
                <td class="text-center">
                  <%= link_to 'Details', product_path(product), class: 'btn btn-sm btn-info mr-2' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <%= paginate @products %>
</div>
