
<div class="container">
  <h1 class="my-4">Product List</h1>

  <!-- Search form -->
  <%= form_tag(products_path, method: :get, class: "form-inline mb-3") do %>
    <%= text_field_tag :search, params[:search], class: "form-control mr-2", placeholder: "Search by keyword..." %>
    <%= select_tag :category_id, options_for_select([["All Categories", nil]] + @categories.map { |c| [c.name, c.id] }, params[:category_id]), class: "form-control mr-2" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="card shadow">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= number_to_currency(product.price) %></td>
                <td class="text-center">
                  <%= link_to 'Details', product_path(product), class: 'btn btn-sm btn-info mr-2' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination links -->
<%= paginate @products %> 
</div>
